  <section class="banner-box">

      <div class="banner-index-carousel">
          <div class="slide-box slide-box-background">
              <div class="container">
                  <div class="slide-box-content">

                      <h2 class="title_thin"><%= translate 'views.index.section_banner.txt_title_h2' %></h2>
                      <h1 class="title_bold"><%= translate 'views.index.section_banner.txt_title_h1' %></h1>

                      <p>
                          <a href="#segmentos" class="carousel-action-link"><%= translate 'views.index.link.txt_read_more' %><a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="modules-box">
      <div class="module-header">
          <div class="container">
          
              <div class="row">
              
                  <div class="col s3 hide-on-med-and-down"><span class="bar-left"></span></div>
                  <div class="col s6 despription">
                      <p class="content-text"><%= translate 'views.index.section_segments.txt_help_descrition' %>
                          <span class="img bar-down"></span> 
                      </p>
                  </div>
                  <div class="col s3 hide-on-med-and-down"><span class="bar-right"></span></div>
              </div>

<a name="segmentos"></a>

              <div class="row row-cards">
                  <div class="block-cards">
                      <div class="card hoverable small">
                          <div class="card-image center-align modulo-armazenagem">
                              <span class="card-title"><%= translate 'views.index.section_segments.txt_segment_storage' %></span>
                          </div>
                          <div class="card-action">
                              <a href="#" data-target="storage"><%= translate 'views.index.link.txt_read_more' %></a>
                          </div>
                      </div>
                  </div>

                  <div class="block-cards">
                      <div class="card hoverable small">
                          <div class="card-image center-align modulo-limpeza">
                              <span class="card-title"><%= translate 'views.index.section_segments.txt_segment_cleaning' %></span>
                          </div>
                          <div class="card-action">
                              <a href="#" data-target="cleaning"><%= translate 'views.index.link.txt_read_more' %></a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="block-cards">
                      <div class="card hoverable small">
                          <div class="card-image center-align modulo-secagem">
                              <span class="card-title"><%= translate 'views.index.section_segments.txt_segment_drying' %></span>
                          </div>
                          <div class="card-action">
                              <a href="#" data-target="drying"><%= translate 'views.index.link.txt_read_more' %></a>
                          </div>
                      </div>
                  </div>

                  <div class="block-cards">
                      <div class="card hoverable small">
                          <div class="card-image center-align modulo-transporte">
                              <span class="card-title"><%= translate 'views.index.section_segments.txt_segment_transport' %></span>
                          </div>

                          <div class="card-action">
                              <a href="#" data-target="conveyors"><%= translate 'views.index.link.txt_read_more' %></a>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>


  <section class="works-box">

      <div class="row">
          <div class="block-description">
              <div class="content">
                  <h1 class="title_bold"><%= translate 'views.index.section_works.txt_title_h1' %></h1>
                  <h2 class="title_light"><%= translate 'views.index.section_works.txt_title_h2' %></h2>
                  <p><%= translate 'views.index.section_works.txt_description' %></p>
                  <div class="description-link ">
                      <a href="/institucional/nossasobras" class="action-link center-align "><%= translate 'views.index.link.txt_works' %></a>
                  </div>
              </div>
          </div>
          <div class="block-figure">&nbsp;</div>
      </div>

  </section>





  <section class="location-box">
      <div class="row">
          <div class="block-description">
              
                  <h1>
                      <span class="title_light"><%= translate 'views.index.section_locale.txt_line_1' %></span>
                      <span class="title_bold"><%= translate 'views.index.section_locale.txt_line_2' %></span>
                      <span class="title_light"><%= translate 'views.index.section_locale.txt_line_3' %></span>
                      <span class="title_bold"><%= translate 'views.index.section_locale.txt_line_4' %></span>
                  </h1>
                  <div class="description-link center-align">
                      <a href="/servicosaocliente/areadeatuacao" class="action-link"><%= translate 'views.index.link.txt_search_locale' %></a>
                  </div>
          </div>
          <div class="block-description">
             
                  <h1>
                      <span class="title_light"><%= translate 'views.index.section_locale.txt_description_line_1' %></span>
                      <span class="title_bold"><%= translate 'views.index.section_locale.txt_description_line_2' %></span>
                      <span class="title_light"><%= translate 'views.index.section_locale.txt_description_line_3' %></span>
                  </h1>
          </div>
      </div>
  </section>



  <section class="news-box">
      <div class="container">
          <div class="row">
              <div class="col s12 center-align ">
                  <h1 class="title_bold news-title"><%= translate 'views.index.section_news.txt_title' %></h1>
              </div>
          </div>

          <div class="row">
              <div class="block-description">
                  <figure>
                      <img src="/assets/images/news/1616186800?locale=pt-BR" width='100%'>
                  </figure>
                  <time datetime="2021-03-19T17:46:40-03:00" class="news-time">19 de Março de 2021</time>
                  <h3 class="title_bold">Armazenagem de grãos com qualidade</h3>
                  <p>Conheça algumas vantagens e...</p>
                  <a class="see-more" target="grupoMascarello" href="http://grupomascarello.com.br/pt-BR/imprensa/comil/armazenagem-de-graos-com-qualidade"><%= translate 'views.index.link.txt_news_readmore' %> <span class="iconify" data-icon="line-md:chevron-small-right" data-inline="false"></span></a>
              </div>

              <div class="block-description">
                  <figure>
                      <img src="/assets/images/news/1605205423?locale=pt-BR" width='100%'>
                  </figure>
                  <time datetime="2021-03-19T17:46:40-03:00" class="news-time">12 de Novembro de 2020</time>
                  <h3 class="title_bold">Os Silos Comil possuem acessórios adequados às normas vigentes de segurança</h3>
                  <p>A expansão agrícola no Bras...</p>
                  <a class="see-more" target="grupoMascarello" href="http://grupomascarello.com.br/pt-BR/imprensa/comil/silos-comil-possuem-acessorios-adequados-as-normas-vigentes"><%= translate 'views.index.link.txt_news_readmore' %> <span class="iconify" data-icon="line-md:chevron-small-right" data-inline="false"></span></a>
              </div>


              <div class="block-description">
                  <figure>
                      <img src="/assets/images/news/1598635616?locale=pt-BR" width='100%'>
                  </figure>
                  <time datetime="2021-03-19T17:46:40-03:00" class="news-time">28 de Agosto de 2020</time>
                  <h3 class="title_bold">Unidade de armazenagem entregue para a Cooperativa Campal</h3>
                  <p>A Cooperativa Agrícola Mist...</p>
                  <a class="see-more" target="grupoMascarello" href="http://grupomascarello.com.br/pt-BR/imprensa/comil/unidade-de-armazenagem-entregue-para-a-cooperativa-campal"><%= translate 'views.index.link.txt_news_readmore' %> <span class="iconify" data-icon="line-md:chevron-small-right" data-inline="false"></span></a>
              </div>

          </div>
      </div>
  </section>